<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>GroupeGEnchere</display-name>
  <welcome-file-list>
    <welcome-file>Accueil.html</welcome-file>
  </welcome-file-list>
 
 <servlet>
    <servlet-name>AccueilNonConnecte</servlet-name>
    <jsp-file>/WEB-INF/pages/accueilNonConnecte.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccueilNonConnecte</servlet-name>
    <url-pattern>/pages/accueilNonConnecte</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>Connection</servlet-name>
    <jsp-file>/WEB-INF/pages/pageConnection.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connection</servlet-name>
    <url-pattern>/pages/pageConnection</url-pattern>
  </servlet-mapping>
</web-app>