<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	
	
	<display-name>GroupeGEnchere</display-name>
	<welcome-file-list>
		<welcome-file>Accueil.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>AccueilNonConnecte</servlet-name>
		<jsp-file>/WEB-INF/pages/accueilNonConnecte.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccueilNonConnecte</servlet-name>
		<url-pattern>/pages/accueilNonConnecte</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Connection</servlet-name>
		<jsp-file>/WEB-INF/pages/pageConnection.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Connection</servlet-name>
		<url-pattern>/pages/pageConnection</url-pattern>
	</servlet-mapping>

		<!-- CREATION UTILISATEUR-->
	
	<servlet>
		<servlet-name>creationUtilisateur</servlet-name>
		<jsp-file>/WEB-INF/pages/CreationUtilisateur.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>creationUtilisateur</servlet-name>
		<url-pattern>/pages/creationUtilisateur</url-pattern>
	</servlet-mapping>
	
			<!-- FILTRE RESTRAINT  -->
	
	<filter>
		<filter-name>RestrictionFiltre</filter-name>
		<filter-class>fr.eni.javaee.encheres.filtres.RestrictionFiltre</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RestrictionFiltre</filter-name>
		<url-pattern>/restreint/*</url-pattern>
	</filter-mapping>
	<!-- ACCUEIL CONNECTE  -->
	<servlet>
		<servlet-name>accueilConnecte</servlet-name>
		<jsp-file>/WEB-INF/restraint/accueilConnecte.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>accueilConnecte</servlet-name>
		<url-pattern>/restraint/accueilConnecte</url-pattern>
	</servlet-mapping>
	
	
		<!-- VENDRE UN ARTICLE  -->
	<servlet>
		<servlet-name>venteArticle</servlet-name>
		<jsp-file>/WEB-INF/restraint/nouvelleEnchere.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>venteArticle</servlet-name>
		<url-pattern>/restraint/nouvelleEnchere</url-pattern>
	</servlet-mapping>
	
<filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
        <param-name>encoding</param-name>
        <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
        <param-name>ignore</param-name>
        <param-value>false</param-value>
    </init-param>
</filter>
<filter-mapping>
    <filter-name>Set Character Encoding</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>
	


</web-app>